html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}


.container-fluid {
  margin-left: 30px;
}
.nav-link {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.active {
  color: #fb1a8f !important;
  font-weight: 700;
}
.nav-link:hover {
  color: #fb1a8f !important;
}

.navbar-brand {
  font-size: 42px;
}

.logo {
  cursor: pointer;
}

.sidenav hr {
  height: 2px;
  background-color: #fb1a8f;
  border-radius: 100px;
  opacity: 1;
}

.convetti {
  font-family: "Poppins", sans-serif;
  margin-top: 200px;
  height: 600px;
  width: auto;
  background-image: url("./img/bg_convetti.png");
  background-size: cover;
}
.p-text {
  margin-top: 30px;
}

.fitur {
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.fitur .fitur-title {
  font-size: 35px !important;
}

.fitur .fitur-text {
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 2px;
}

.join-partner {
  width: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("./img/bg-pink.png");
  /* background-repeat: no-repeat; */
}

.footer {
  margin-top: 30px;
  background-image: url("./img/bg-footer.png");
  background-size: cover;
  padding: 150px;
  padding-bottom: 30px;
}

.footer hr {
  background-color: #fff;
  border-radius: 20px;
  height: 3px;
}

.footer-ps {
  width: 30px;
}

.footer-menu {
  display: inline-block;
}

.footer-menu a {
  margin: 20px;
}

.follow-me {
  font-size: 12px !important;
}

.social {
  display: inline-block;
}

.social img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fb1a8f;
}

.sidenav .closebtn {
  /* position: absolute; */
  top: 200px;
  margin-bottom: 50px;
}

.sidenav .social {
  margin-left: 32%;
}

.sidenav .social img {
  margin: 10px;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.about_text_child {
  font-size: 16px;
}

.convetti .img-fluid {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* .footer-about {
  margin-bottom: 100px;
} */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-brand {
    font-family: "TerminalDosis", Fallback, sans-serif !important;
  }

  .logo {
    margin-top: 10px;
    margin-right: 20px;
  }

  .hero-kadoin {
    text-align: left;
  }

  .navbar-nav {
    margin-right: 100px;
  }

  .nav-link {
    margin-right: 120px;
  }

  .text-head {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;
  }

  .desc-head {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
  }

  .hero::before {
    content: url("./img/baloon_2.png");
    position: absolute;
    margin-top: 400px;
  }

  .hero-image::after {
    content: url("./img/baloon_1.png");
    position: absolute;
    margin-top: 700px;
  }

  .convetti .container {
    padding: 200px;
  }

  .convetti .container h1 {
    font-size: 35px;
  }

  .convetti::before {
    content: url("./img/gift_2.png");
    position: absolute;
    margin-top: 530px;
  }
  .convetti::after {
    content: url("./img/gift_1.png");
    position: absolute;
    right: 50px;
    margin-top: -100px;
  }

  .popup {
    position: absolute;
    /* z-index: 1 !important; */
  }

  .popup img {
    width: 90px;
  }

  .popup .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(135, 135, 135, 0.3);
    text-align: center;
    top: 20px;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 20px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .popup .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(135, 135, 135, 0.3) transparent transparent;
  }

  .popup:hover .tooltiptext {
    visibility: visible;
  }
  .love {
    margin-top: 150px;
    margin-left: 200px;
  }

  .love .tooltiptext {
    color: #ff7575;
  }

  .diamond {
    margin-top: 350px;
    margin-left: 60px;
  }

  .diamond img {
    width: 80px;
    height: 80px;
  }

  .diamond .tooltiptext {
    background-color: rgba(255, 223, 0, 0.3);
    color: rgb(122, 121, 121);
  }

  .diamond .tooltiptext::after {
    border-color: transparent rgba(255, 223, 0, 0.3) transparent transparent;
  }

  .doll {
    margin-top: 650px;
    margin-left: 250px;
  }

  .doll img {
    width: 85px;
    height: 85px;
  }

  .doll .tooltiptext {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.3);
  }

  .doll .tooltiptext::after {
    border-color: transparent rgba(86, 204, 242, 0.3) transparent transparent;
  }

  .cook {
    right: 250px;
    margin-top: 200px;
  }

  .cook img {
    width: 80px;
    height: 80px;
  }

  .cook .tooltiptext {
    color: #6fcf97;
    background-color: rgba(111, 207, 151, 0.3);
  }

  .cook .tooltiptext::after {
    border-color: transparent rgba(111, 207, 151, 0.3) transparent transparent;
  }

  .bunga {
    right: 180px;
    margin-top: 500px;
  }

  .bunga .tooltiptext {
    color: #fd80c1;
    background-color: rgba(253, 128, 193, 0.3);
  }

  .bunga .tooltiptext::after {
    border-color: transparent rgba(253, 128, 193, 0.3) transparent transparent;
  }

  .fitur::after {
    content: url("./img/baloon_3.png");
    position: absolute;
    right: 300px;
    margin-top: -90px;
    transform: rotate(20deg);
  }

  .work {
    padding: 100px;
  }

  .work img {
    width: 100px;
  }

  .work h5 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px !important ;
  }

  .flow-1::before {
    content: url("./img/arrow.png");
    margin-left: 150px;
    position: absolute;
    margin-top: 70px;
  }
  .flow-2::before {
    content: url("./img/arrow.png");
    margin-left: 150px;
    position: absolute;
    margin-top: 70px;
  }

  .footer .footer-app {
    width: 250px;
    position: absolute;
    margin-top: -300px;
    margin-left: -100px;
  }

  
  .logo_title {
    margin-top: 0!important;
  }
}



@media screen and (min-width: 450px ) and (max-width:767px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .logo_title {
    margin-top: -10px;
  }

  .hero-kadoin {
    text-align: center;
  }

  .popup {
    display: none;
  }

  .convetti {
    margin-bottom: 450px;
  }

}
